<html>
    <head>
        <title>Nnia's blog</title>
    </head>
    <body>
        <div>
        <h1>Un título</h1>
        </div>
        <h2>Un subtítulo</h2> - para el título del siguiente nivel
        <h3>Un subsubtítulo</h3>
        <p>Hi there!</p>
        <p>It works!<em>Hola</em></p>
        <em>texto</em><br>
        <strong>texto</strong>
        <br>
        <a href="https://djangogirls.org">link</a>
        <ul><li>primer elemento</li><li>segundo elemento</li></ul>
    </body>
</html>