<html>
    <head>
        <title>Nnia's blog</title>
    </head>
    <body>
        <div>
        <h1>Un título</h1>
        </div>


        {% for post in posts %}
            <div>
                 <h2><a href="">{{ post.title }}</a></h2>
                 <p>{{ post.text|linebreaksbr }}</p>
                 <p> publicado: {{ post.published_date }}</p>
            </div>
        {% endfor %}

        <div>
            <p>Hi there!</p>
            <p>It works!<em>Hola</em></p>
            <em>texto</em><br>
            <strong>texto</strong>
            <br>
            <a href="https://djangogirls.org">link</a>
            <ul><li>primer elemento</li><li>segundo elemento</li></ul>
        </div>
    </body>
</html>